[Unit]
Description=Gunicorn instance to serve faas_cli_flask
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/sammy/myproject
Environment="PATH=replaceme/bin"
ExecStart=replaceme/bin/gunicorn --workers 3 --bind unix:faas_cli_flask.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
