[Unit]
Description=Gunicorn instance to serve faas_cli_flask
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/home/sammy/faas-cli-flask
Environment="PATH=/home/sammy/faas-cli-flask/myprojectenv/bin"
ExecStart=/home/sammy/faas-cli-flask/myprojectenv/bin/gunicorn --workers 3 --bind unix:faas_cli_flask.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
